.Movie {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: black;
}

.App-link {
    color: #61dafb;
}

.movieDetail {
    display: flex;
    justify-content: center;
    background-color: black;
    display: flex;
}