.Movie {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: black;
}

.movieDetail {
    display: flex;
    justify-content: center;
    background-color: black;
    display: flex;
}

.icon {
    transition: 0.5s;
}

.icon :hover {
    transform: scale(1.2);
}